#csscomponent__wrapper .lulu__ui__wrapper {
    padding: 20px;
    border: 1px solid #ccc;
}
#csscomponent__wrapper .lulu__ui__wrapper p {
    margin-bottom: 10px;
}
/**
类名不是ui-button的元素
**/ 
:not(.ui-button):not(h2):not([is="ui-button"]) {
    color: #5468ff;
}
