#csscomponent__wrapper .lulu__ui__wrapper {
  padding: 20px;
  border: 1px solid #ccc;
  /**
    类名不是ui-button的元素
    **/
}
#csscomponent__wrapper .lulu__ui__wrapper :not(.ui-button):not(h2):not([is="ui-button"]) {
  color: #5468ff;
}
#csscomponent__wrapper .lulu__ui__wrapper .rem__wrapper {
  width: 26.66666667rem;
  height: 26.66666667rem;
  font-size: 32px;
  background-color: #5468ff;
}
#csscomponent__wrapper .lulu__ui__wrapper .date__picker {
  width: 26.66666667rem;
}

.tree__scroll__box {
  width: 300px;
  height: 600px;
  position: relative;
  padding: 20px 0 20px 20px;
  border: 1px solid #5468ff;
  overflow: auto;
}
.tree__wrapperd {
  min-width: 280px;
  padding-right: 20px;
  position: absolute;
  left: 20px;
}
.tree__wrapperd .indicator__name {
  cursor: pointer !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tree__wrapperd .indicator__wrapperd {
  line-height: 32px;
}
.tree__wrapperd .indicator__wrapperd .name {
  border: 1px solid #ccc;
  margin-bottom: 10px !important;
  cursor: pointer !important;
}

.less__component h2 {
  width: 120px;
  color: #333;
  font-size: 18px;
}
.less__component .boolean .inner {
  width: 400px;
  height: 32px;
  line-height: 32px;
  transition: height 0.5s linear, width, 0.5s linear;
  background-color: yellow;
}
.less__component .boolean:hover .inner {
  width: 800px;
  height: 64px;
  line-height: 64px;
}
.less__component .each {
  margin-top: 60px;
  color: #fff;
  background-color: #5468ff;
}
.less__component .each .child-red {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-orange {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-green {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-4 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-5 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-6 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-7 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-8 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-9 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .each .child-10 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e49013;
}
.less__component .func {
  width: 26.66666667rem;
}

.routes__container {
  user-select: none;
}
.routes__container .container {
  padding-top: 20px;
}
.routes__container .user__header__opt {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 46px;
  line-height: 46px;
}
.routes__container .login__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  margin: auto;
  width: 300px;
  height: 156px;
  background: #f5f5f5;
  border-radius: 4px;
}
.routes__container .login__wrapper .user__label {
  display: inline-block;
  height: 32px;
}
.routes__container .login__wrapper .login__btn {
  margin-top: 22px !important;
  height: 32px;
  line-height: 32px;
}
.routes__container .container__drag {
  display: flex;
}
.routes__container .container__drag .left__demension {
  padding: 10px;
  background-color: cadetblue;
  width: 300px;
  height: 800px;
}
.routes__container .container__drag .left__demension .category ul li.demesion__lis {
  display: flex;
  height: 32px;
  line-height: 32px;
  background-color: pink;
  margin-bottom: 10px;
  font-size: 16px;
}
.routes__container .container__drag .left__demension .category ul li.demesion__lis mark {
  cursor: pointer;
}
.routes__container .container__drag .left__demension .category ul .child__content {
  overflow: hidden;
}
.routes__container .container__drag .left__demension .category ul li.child__lis {
  padding-left: 10px;
  height: 32px;
  line-height: 32px;
  background-color: #ade4e4;
  margin-bottom: 10px;
}
.routes__container .container__drag .right__condition {
  padding: 10px;
  width: 300px;
  margin-left: 20px;
  background-color: azure;
}
.routes__container .container__drag .right__condition .category .drop__content {
  display: flex;
  flex-direction: column;
  min-height: 64px;
}
.routes__container .container__drag .right__condition .category .drop__content li {
  display: flex;
  justify-content: space-between;
  height: 32px;
  line-height: 32px;
  background-color: pink;
  margin-top: 10px;
}
.routes__container .container__drag .right__condition .category .drop__content li mark {
  cursor: pointer;
}
.routes__container .container__drag .right__condition .category .drop__content p.empty__state {
  border: 1px dashed #ccc;
  text-align: center;
  line-height: 64px;
}

html {
  font-size: 16px;
}
body {
  font-size: 16px;
}
#app {
  padding: 20px;
}
#app ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

