#csscomponent__wrapper .lulu__ui__wrapper {
    padding: 20px;
    border: 1px solid #ccc;
}
#csscomponent__wrapper .lulu__ui__wrapper p {
    margin-bottom: 10px;
}
/**
类名不是ui-button的元素
**/
:not(.ui-button):not(h2):not([is="ui-button"]) {
    color: #5468ff;
}
.routes__container {
  user-select: none;
}
.routes__container .container {
  padding-top: 20px;
}
.routes__container .user__header__opt {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 46px;
  line-height: 46px;
}
.routes__container .login__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  margin: auto;
  width: 300px;
  height: 156px;
  background: #f5f5f5;
  border-radius: 4px;
}
.routes__container .login__wrapper .user__label {
  display: inline-block;
  height: 32px;
}
.routes__container .login__wrapper .login__btn {
  margin-top: 22px !important;
  height: 32px;
  line-height: 32px;
}
.routes__container .container__drag {
  display: flex;
}
.routes__container .container__drag .left__demension {
  padding: 10px;
  background-color: cadetblue;
  width: 300px;
  height: 800px;
}
.routes__container .container__drag .left__demension .category ul li.demesion__lis {
  display: flex;
  height: 32px;
  line-height: 32px;
  background-color: pink;
  margin-bottom: 10px;
  font-size: 16px;
}
.routes__container .container__drag .left__demension .category ul li.demesion__lis mark {
  cursor: pointer;
}
.routes__container .container__drag .left__demension .category ul .child__content {
  overflow: hidden;
}
.routes__container .container__drag .left__demension .category ul li.child__lis {
  padding-left: 10px;
  height: 32px;
  line-height: 32px;
  background-color: #ade4e4;
  margin-bottom: 10px;
}
.routes__container .container__drag .right__condition {
  padding: 10px;
  width: 300px;
  margin-left: 20px;
  background-color: azure;
}
.routes__container .container__drag .right__condition .category .drop__content {
  display: flex;
  flex-direction: column;
  min-height: 64px;
}
.routes__container .container__drag .right__condition .category .drop__content li {
  display: flex;
  justify-content: space-between;
  height: 32px;
  line-height: 32px;
  background-color: pink;
  margin-top: 10px;
}
.routes__container .container__drag .right__condition .category .drop__content li mark {
  cursor: pointer;
}
.routes__container .container__drag .right__condition .category .drop__content p.empty__state {
  border: 1px dashed #ccc;
  text-align: center;
  line-height: 64px;
}

#app {
  padding: 20px;
}
#app ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#app p {
  margin: 0;
  padding: 0;
}

