.tree__wrapperd {
    width: 280px;
    padding-right: 20px;
    position: absolute;
    left: 20px;
    .indicator__name {
        cursor: pointer !important;
        white-space: nowrap;
        text-overflow: ellipsis; 
        overflow: hidden;
    }
    .indicator__wrapperd {
        line-height: 32px;
        .name {
            border: 1px solid #ccc;
            margin-bottom: 10px !important;
            cursor: pointer !important;
        }
    }
}