.tree__wrapperd {
    width: 300px;
    .indicator__wrapperd {
        line-height: 32px;
        margin-bottom: 10px;
        .name {
            border: 1px solid #ccc;
            margin-bottom: 10px !important;
        }
    }
}