.layoutContainer {
  height: var(--container-root);
  .logo {
    width: 46px;
    height: 46px;
    background: url('@/asset/image/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 20px;
    flex-shrink: 0;
  }
  .ant-layout-header {
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  .top__menulist {
    flex: 1;
    border: none;
  }
}
